@{
    ViewData["Title"] = "Thank You";
}
<div class="container" style="max-width: 860px;">
    <div class="my-5 text-center">
        <h1>Thank you!</h1>
        <p class="text-muted">Your response has been submitted successfully.</p>
    </div>
</div>