@model HWSETA_Impact_Hub.Models.ViewModels.Registrations.SetPasswordVm
@{
    ViewData["Title"] = "Set Password";
}

<h2>Set your password</h2>

<form asp-action="SetPassword" asp-controller="Registration" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Token" />

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-success" type="submit">Continue</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}